/*
'***********************   Jewel Mahmud   ***********************************'
'***********************  CSE-13th,MBSTU  ***********************************'
'*********************** Date: 14-08-2020 ***********************************'
'************* Title: Making complete portfolio *****************************'
*/

@import "utilities.css";
*{
	padding: 0px;
	margin: 0px;
}
html{
	scroll-behavior: smooth;
}

/*================ start loader =======================*/
#loader{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: white;
	z-index: 99999;
}
#loader img{
	height: 100px;
	width: 100px;

}
/*================ end loader =======================*/
#bd{

	font-family: 'Sansita Swashed', cursive;
	color: white;	
	background: #151515 url("../static/img/bg.jpg"); /*no-repeat center top;*/
	background-repeat: repeat;
	background-position: center ;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: auto;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Acme', sans-serif;
	letter-spacing: 0.2rem;
	line-height: 2;
}

/*================ Links =======================*/
a,
a:visited {
  color: #000000;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus,
a:active {
  color: #ff0077;
  outline: 0;
}


/*================ Start Navigations ================*/
.navigations{
	width: 100%;
	height: auto;
	background: #006666;
	opacity: 1;
	position: fixed;
	z-index: 1; /* up and down layer  */
	/*box-shadow: 2px 2px 12px #737373;*/
}

nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.nav_left{
	display: flex;
	align-items: center;
	margin-left: 3rem;
}

.nav_left h3{
	padding-left: 2px;
	color: #339933;

}

.nav_right{
	display: flex;
	align-items: center;
	margin-right: 3rem;
}

.nav_right div{
	padding: 10px 10px;
	
}
.nav_right div a{
	/*font-family: "poppins-bold", sans-serif;*/
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	
}

.nav_right div a:hover{
	color: #ff3385;
	/*background-color: #00cc99;*/
	transition: all .3s ease;
}

.nav_right div .active{
	color:aqua;
	/* background-color: #00cc99; */
}

 .logo-link{
	text-decoration: none;
}

.burger {
    margin: 5px;
    display: none;
}
.burger div{
    height: 2px;
    width: 20px;
    background: white;
    margin: 5px;
    transition: all .3s ease;
}
/* >>>>>>>>>>> Restponsive <<<<<<<<<<<<<<*/
@media only screen and (max-width: 1024px){
	.nav_left h3{
	padding-left: 1px;
	font-size: 1rem;
}
.nav_left{
	margin-left: 1.5rem;
}

.nav_right{
	margin-right: 1.5rem;
}
}

@media only screen and (max-width: 768px){
    .burger{
        display: block;

    }

    .nav_right{
    position: absolute;
    margin-top: 35px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 92vh;
    width: 100%; 
    background: #006666;
    margin-right: 0;
    transform: translateX(100%);
    transition: transform .5s ease-in;

    }

        /* for layout 0*/
    .nav_active{
        transform: translateX(0%);
    }

    .toggle .lin1{
        transform: rotate(45deg) translate(5px,5px);
    }

    .toggle .lin2{
        opacity: 0;
    }

    .toggle .lin3{
        transform: rotate(-45deg) translate(5px,-5px);
    }	
}

@media only screen and (max-width: 600px){}
/*================ End Navigations ================*/



/*================ Start Home ================*/
#home{
	/*background: url(../images/3.png); 
	background-repeat: repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;*/
	width: 100%;
	height: auto;
	min-height: auto;
	border-radius: 0 0 50px 50px;
	box-shadow: 2px 2px 12px #737373;
	padding-top: 8rem;
	padding-bottom: 5rem;


}
 
.left-right{
	display: flex;
	justify-content: center;
}


#home .left{
	font-family: 'Acme', sans-serif;
	text-align: center;
	padding-top:5rem;
}

/*#home .left h6{
	color:#006666;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	line-height: 2;

}*/

#home .left h1{
	color: aqua;
	font-size: 4rem;
	
}

#home .left p{
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	line-height: 2;
}

#home .left-right .right img{
	max-height: 550px;
	max-width: 400px;
	margin-left: 1.875rem; /* 25 px */
	
	/* for transparent cng pic  */
	/* height: 400px;
	width: 550px;
	border-radius: 45%; */
	/*border-style: dotted;
	border-color: aqua;*/
}



/* >>>>>>>>>>> Responsive <<<<<<<<<<<<<<*/
@media only screen and (max-width: 1024px){
	.left-right{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#home .left{
	margin: 5rem 0 0 0;
	text-align: center;
	}
}
@media only screen and (max-width: 768px){
	#home{
	padding-top: 2rem;
	padding-bottom: 2rem;
	}

	#home .left-right .right img{
	height: 300px;
	width: 400px;
	}

	#home .left{
	margin: 0 0 5rem 0;
	}
}
@media only screen and (max-width: 600px){
	#home .left h6{
		font-size: 1rem;
	}
	#home .left h1{
		font-size: 2rem;
	}
	#home .left p{
		font-size: 1rem;
	}

	#home .left-right .right img{
	height: 280px;
	width: 300px;
}

}

/*================ End Home ==================*/



/*================ Start About ================*/
#about{
	/*width: 100%;
	height: auto;
	background: url(../images/3.png);
	padding: 10rem 0;
	margin-top: 0.5rem;
	margin-bottom: 5rem;
	border-radius: 50px;
	box-shadow: 2px 2px 12px #737373;*/

	/*background: #151515 url(../images/3.png);
	background-repeat: repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;*/

	width: 100%;
	height: auto;
	min-height: auto;
	border-radius: 0 0 50px 50px;
	box-shadow: 2px 2px 12px #737373;
	padding-top: 7rem;
	padding-bottom: 5rem;
	border-radius: 50px;

	/*clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 85%, 0 95%);*/
}

#about .overall .left-right1{
	display: flex;
	justify-content: center;
	padding: 0 10%;
}

#about .overall .left-right1 .intro_pic img{
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	border-style: dotted;
	border-color: aqua;
}
#about .overall .left-right1 .intro_pic{
	margin-top: 3rem;
	/*margin-left: 15%;*/
}
#about .overall .left-right1 .intro{
	padding-left: 3rem;
}
#about .overall .left-right1 .intro h5{
	font-family: 'Acme', sans-serif;
	padding-left: 3rem;
	color: #ff0077;
	text-transform: uppercase;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	/*margin-left: 7rem;*/
	line-height: 2;
}

#about .overall .left-right1 .intro h1{
	font-family: 'Acme', sans-serif;
	font-size: 2.5rem;
	color: white;
}

#about .overall .left-right1 .intro p{
	padding-top: 3rem;
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 2rem;
	color: white;
	padding-right: 4rem;
}


#about .overall .left-right1 .intro strong{
	text-transform: uppercase;
	font-size: 1.5rem;
	font-family: "poppins-blod", sans-serif;
	letter-spacing: 2;
}

#about .overall .left-right1 .intro span{
	font-size: 1.8rem;
	font-family: "poppins-bold", sans-serif;
	color: #888888;
}

#about .overall .left-right2{
	margin-top: 5rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: flex;
	height: auto;
	margin-left: 5%;
}

#about .overall .left-right2 .proficiency{
	width: 45%;
	padding-left: 5%;
}
#about .overall .left-right2 .proficiency h3{
	text-transform: uppercase;
	font-size: 2rem;
	font-family: "poppins-bold",sans-serif;
	line-height: 2;
}
#about .overall .left-right2 .proficiency ul li{
	padding-top: 1rem;
}
#about .overall .left-right2 .proficiency ul li span{
	color: white;
	font-size: 1.2rem;
}
#about .overall .left-right2 .skill{
	padding-left: 5%;
}
#about .overall .left-right2 .skill h3{
	text-transform: uppercase;
	font-size: 2rem;
	font-family: "poppins-bold",sans-serif;
	line-height: 2;
}

#about .overall .left-right2 .skill ul li{
	font-size: 1.5rem;
	padding-top: 1rem;
}
#about .overall .left-right2 .skill ul li progress{
	width: 25rem;
}

#about .btn-part ul{
	list-style: none;
	text-align: center;
}
#about .btn-part ul li{
	display: inline-block;
}
#about .btn-part ul li a{
	font-family: 'Acme', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin: 1rem;
	padding: 1rem 3rem;
	font-size: 2rem;
	border-radius: 20px;
	background: #999966;
	box-shadow: 1px 1px 10px #6666ff;
	transition: 0.3s ease;
}
#about .btn-part ul li a:hover{
	background: transparent;
	border-style: solid;
}
/* >>>>>>>>>>> Restponsive <<<<<<<<<<<<<<*/
@media only screen and (max-width: 1024px){
	.left-right1{
		flex-direction: column;
		text-align: center;
	}
	.intro_pic{
		margin-left: 0%;
	}
	.intro{
	}
	.intro h5{
	padding-left: 0;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	margin-left: 0;
}

.intro h1{
	font-size: 2.5rem;
}
.intro p{
	padding-top: 1rem;
	font-size: 1.5rem;
	line-height: 1.5;
	padding-right: 0rem;
}
.intro{
	text-align: left;
	padding-left: 20%;
}

	.left-right2{
		flex-direction: column;
		align-items: center;
		margin-top: 0rem;
		padding-top: 5rem;
	}

	#about .btn-part ul li a{
	padding: 1rem 2rem;
	font-size: 1.8rem;
}
}
@media only screen and (max-width: 768px){
	.intro h1{
	font-size: 1.5rem;
}
.intro ul li strong{
	font-size: 1rem;
}

.intro ul li span{
	font-size: 1.4rem;
}
.skill ul li progress{
	width: 15rem;
}
#about .overall .left-right1 .intro{
	padding: 0;
	margin: 0;
}
}
@media only screen and (max-width: 600px){
	.intro_pic img{
	height: 10rem;
	width: 10rem;
}
.intro h1{
	font-size: 1.1rem;
}
.intro strong{
	font-size: 0,8rem;
}

.intro {
	font-size: 1.2rem;
}
.skill ul li progress{
	width: 5rem;
}

.proficiency h3{
	font-size: 1.2rem;
	line-height: 2;
}
.skill h3{
	margin-top: 1rem;
	font-size: 1.2rem;
}
#about .btn-part ul li{
	display: flex;
	flex-direction: column;
	margin:0 20%;
}

}

@media only screen and (max-width: 500px){
	#about .overall .left-right1 .intro .name span {
		font-size: 1.5rem;
	}
	#about .overall .left-right2 .skill ul li progress{
	width: 20rem;
}
}

/*================ End About ==================*/



/*================ Start Experience ================*/
#resume{
	/*
	width: 100%;
	height: auto;
	background: #a3a375;
	padding: 10rem 0;
	margin-top: 5rem;
	margin-bottom: 5rem;
	border-radius: 50px;
	box-shadow: 2px 2px 12px #737373;*/

	/*background: #151515 url(../images/3.png);
	background-repeat: repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;*/

	width: 100%;
	height: 100%;
	min-height: auto;
	border-radius: 0 0 50px 50px;
	box-shadow: 2px 2px 12px #737373;
	padding-top: 8rem;
	padding-bottom: 5rem;

	margin-top: 0.5rem;
	border-radius: 50px;
	box-shadow: 2px 2px 12px #737373;
}

#resume .credential{
	text-align: center;
}
#resume .head{
	margin-top: 30px;
	text-align: center;
}
#resume .inner{
	padding-top: 30px;
	padding-bottom: 30px;
}

#resume .details{
	position: relative;
}

#resume .details:before{     /* Column line*/
	content: '';
	width: 0.1px;
	height: 100%;
	background-color: red;
	position: absolute;
	left: 50%;
}

#resume .details .company{
	margin: 30px;
	position: relative;
}
#resume .details .company p{
	margin-top: 10px;
}
#resume .details .company h3{
	margin-top: 10px;
}

#resume .work .details .company:nth-child(odd){
	padding-right: calc(50% + 50px);
	text-align: right;
}


#resume .work .details .company:nth-child(even){
	padding-left: calc(50% + 50px);
}

#resume .edu .details .company:nth-child(odd){
	padding-right: calc(50% + 50px);
	text-align: right;
}

#resume .edu .details .company:nth-child(even){
	padding-left: calc(50% + 50px);
}


#resume .company .icon{
	height: 40px;
	width: 45px;
	background-color: green;
	text-align: center;
	line-height: 40px;
	position: absolute;
	left: 48%;
	border-radius: 30px;
}

#resume .company i{
	font-size: 25px;
}


/*================ End Experience ==================*/

/*================ Start My work ================*/
#portfolio{
	

	width: 100%;
	height: auto;
	min-height: auto;
	border-radius: 0 0 50px 50px;
	box-shadow: 2px 2px 12px #737373;
	padding-top: 8rem;
	padding-bottom: 5rem;

	margin-top: 0.5rem;
	/* border-radius: 50px; */
	/* box-shadow: 2px 2px 12px #737373; */
	z-index: 0;
}

#portfolio .top div{
	padding: 0.5rem 0;

}

#portfolio .top div h3{
	color: #ff0080;
}

#portfolio .projects{
	margin:2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#portfolio .projects .screenshot{
	position: relative;
	justify-content: center;
	text-align: center;
}

#portfolio .projects .screenshot .over{
	position: absolute;
	height: 90%;
	width: 90%;
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 0;
	border-radius: 50px;
	margin: 1rem 1rem;
}

#portfolio .projects .screenshot .over a{
	text-decoration: none;
	font-size: 3rem;
	color: white;
}

#portfolio .projects .screenshot:hover .over{
	opacity: .5;
	height: 72%;
	border-radius: 25px 25px 0px 0px;
	transition: all 0.3s ease;
}

#portfolio img{
	margin: 2rem 1rem 0 1rem;
}

#portfolio .projects img{
	height: 300px;
	width: 300px;
	border-radius: 25px 25px 0 0;
	box-shadow: 2px 2px 12px #737373;
}

/*================ End My Work ==================*/


/*================ Start Services ================*/
#service{
	width: 100%;
	height: auto;
	min-height: auto;
	border-radius: 0 0 50px 50px;
	box-shadow: 2px 2px 12px #737373;
	padding-top: 8rem;
	padding-bottom: 7rem;
	margin-top: 0.5rem;
	border-radius: 50px;
	box-shadow: 2px 2px 12px #737373;

}

#service .top div{
	padding: 0.5rem 0;
}

#service .top div h3{
	color: #ff0080;
}

#service .down{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#service .down .name{
	margin: 0 2rem;
	width: 200px;
	border-radius: 35%;
	border-style: solid;
	border-width: 2px;
	margin-top: 4rem;
	color: black;
	background: #bfbfbf;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	text-align: center;
}

#service .down .name .fa-connectdevelop{
	font-size: 3rem;
	padding-bottom: 2rem;
}

#service .down .name h3{
	font-size: 1.5rem;
}

#service .down .name:hover{
	color: #ff0080;
	background-color: transparent;
	transition: all .3s ease;
}
/*================ End Services ==================*/


/*===================== Start  contact  =========================*/
#contactid{
	width: 100%;
	height: auto;
	min-height: auto;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 2px 2px 12px #737373;
	padding-top: 3rem;
	padding-bottom: 6rem;
	box-shadow: 2px 2px 12px #737373;
}

#contactid .top div{
	padding: 0.5rem 0;
}

#contactid .top h1{
	color: #ff0080;
}
#contactid .top .large{
	font-size: 1.5rem;
}
#contactid .top .large i{
	font-size: 2rem;
	color: aqua;
}
hr{
  border-top: 1px solid ;
  width: 20%;
  margin-left: 40%;
}

#contactid .form div{
	padding: 0.5rem 0;
}

#contactid .form .form-area input{
	width: 40%;
	height: auto;
	border-radius: 0.8rem;
	font-size: 1rem;
	padding: 0.7rem 2rem;
	box-shadow: 1px 1px 2px #737373;
	background: #bfbfbf;
}

#contactid .form .form-area input:focus{
	outline: none;
	border-color: #ff0080;
	background: white;
}

#contactid .form  textarea{
	width: 40%;
	height: 10rem;
	border-radius: 1rem;
	font-size: 1rem;
	padding: 1rem 2rem;
	box-shadow: 2px 2px 2px #737373;
	background: #bfbfbf;

}

#contactid .form  textarea:focus{
	outline: none;
	border-color: #ff0080;
	background:white;
}

#contactid .form button{
	width: 40%;
	height: auto;
	border-radius: 0.8rem;
	font-size: 1.5rem;
	padding: 0.7rem 2rem;
	box-shadow: 2px 2px 12px #737373;
	background: transparent;
	color: white;
	border-color: white;
}

#contactid .form button:focus{
	outline: none;
}

#contactid .form button:hover{
	outline: none;
	background:white;
	color: #ff0080; 
	transition: all 0.3s ease;
	border-color: #ff0080;
}

/* >>>>>>>>>>> Restponsive <<<<<<<<<<<<<<*/
@media only screen and (max-width: 900px){
	#contactid .form .form-area input{
	width: 60%;
}

#contactid .form  textarea{
	width: 60%;
}

#contactid .form button{
	width: 55%;
}
}


/*===================== End  contact   =========================*/



/*===================== Start  footer  =========================*/

.footer{
	font-family: 'Sansita Swashed', cursive;
	/*color: white;	
	background: #151515 url('../static/img/bg.png'); /*no-repeat center top;*/
	background-repeat: repeat;
	background-position: center ;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: auto;
	min-height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.copy-right{
	text-align: center;
	padding-top: 30px;
}

.f-social{
	text-align: center;
	padding-top: 30px;
}

.f-social ul li{
	display: inline-block;
	font-size: 30px;
	padding: 10px;
	
}

 .f-social ul li a{
	color: hotpink;
} 

.f-social ul li a:hover{
	color: aqua;
	transition: 0.3s ease;
}


.up{
	width: 2rem;
	height: 2rem;
	background-color: #eee;
	bottom: 2rem;
	right: 2rem;
	border-radius: 100%;
	display: flex;
	animation: pulse 8s infinite; 
	cursor: pointer;
	position: fixed;
	opacity: 60%;


}

.up i{
	color: #16162d;
	font-size: 1rem;
	margin: auto;
}

/*up animation*/
@keyframes pulse{
	0%{
		box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
	}
	70%{
		box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
	}
	100%{
		box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
	}
}

/*===================== Responsive   =========================*/
@media only screen and (max-width: 400px){
	.f-social ul li{
		font-size: 20px;
	}
}

/*===================== End  footer   =========================*/




/* Demo tag */
/* >>>>>>>>>>> Restponsive <<<<<<<<<<<<<<*/
@media only screen and (max-width: 1024px){}
@media only screen and (max-width: 768px){}
@media only screen and (max-width: 600px){}

/*================ Start Navigation ================*/
/*================ End Navigation ==================*/




/*================ Start Home ================*/
/*================ End Home ==================*/


/*================ Start About ================*/
/*================ End About ==================*/


/*================ Start Experience ================*/
/*================ End Experience ==================*/

/*================ Start My work ================*/
/*================ End My Work ==================*/

/*================ Start Services ================*/
/*================ End Services ==================*/

/*================ Start Contact ================*/
/*================ End Contact ==================*/

/*================ Start Navigation ================*/
/*================ End Navigation ==================*/