<!--
'***********************   Jewel Mahmud   ***********************************'
'***********************  CSE-13th,MBSTU  ***********************************'
'*********************** Date: 20-07-2021 ***********************************'
'********* Title: Making complete portfolio with Django *********************'
-->
{% load static %}
<html lang="en">
	<head>
		{% include 'head.html' %}
	</head>
	<body style="font-family: 'Sansita Swashed', cursive;
		color: white;
		background: #151515 url('../static/img/bg.jpg'); /*no-repeat center top;*/
		background-repeat: repeat;
		background-position: center ;
		background-size: cover;
		background-attachment: fixed;
		width: 100%;
		height: auto;
		min-height: auto;">
		
		<!--===================== start  Navigations   =========================-->
		<nav>{% include 'nav.html' %}</nav>
		<!--===================== end  Navigations   =========================-->
		<!--===================== start  contact   =========================-->
		<section id="contactid">
			<div>
				<div class="top center-text">
					
					<div>
						<h1> Get in touch! </h1>
					</div>
					<div class="large">
						<i class="fas fa-mobile-alt"></i> &nbsp &nbsp +8801916446346
					</div>
					<div class="large">
						<i class="far fa-envelope"></i> &nbsp &nbsp  jmbengal.mbstu@gmail.com   <br><br>
						<hr>
						<br><p>Or just fill the form below to reach me:</p><br>
					</div>
					
				</div>
				<div class="form center-text" data-aos="fade-up" data-aos-delay="300" >
					<div class="form-area">
						<input type="text" name="name" placeholder="Name">
					</div>
					<div class="form-area">
						<input type="email" name="email" placeholder="E-mail">
					</div>
					<div class="form-area">
						<input type="text" name="sub" placeholder="Subject">
					</div>
					<div class="t-area2">
						<textarea placeholder="Write something..."></textarea>
					</div>
					<div class="">
						<button>Submit</button>
					</div>
				</div>
				<div></div>
			</div>
			<!--================== Start Next-Previous =====================-->
		<div class="f-social" style="padding-top: 100px;"> <!--I called footer to design -->
			<ul>
				<li>
					<a href="/services" class="previous" title="previous">
						<i class="fas fa-chevron-circle-left"></i>
					</a>
				</li>
				<li>
					<a href="/" class="next" title="next">
						<i class="fas fa-chevron-circle-right"></i>
					</a>
				</li>
			</ul>
		</div>
		<!--=================== End Next-Previous ======================-->
		</section>
		<!--===================== End  contact   =========================-->
		<div>
			{% include 'footer.html' %}
		</div>
	</body>
</html>