<!--
<div class="abc text-center my-5">
		<a href="https://www.youtube.com/channel/UCJCdq7lWqB7M5b16UatoTEw" target="_blank">
			<span class="p-1">&copy:tech villain</span>
		</a>	
</div>
-->

<footer class="footer">
	
	<div class="f-social">
		<ul>
				<li><a href="https://www.youtube.com/channel/UCJCdq7lWqB7M5b16UatoTEw" target="_blank"><i class="fa fa-youtube"></i></a></li>

				<li><a href="https://github.com/MahmudJewel" target="_blank"><i class="fa fa-github"></i></a></li>

				<li><a href="https://www.hackerrank.com/DJ_cse" target="_blank"><i class="fab fa-hackerrank"></i></a></li>

				<li><a href="https://www.linkedin.com/in/jewel-mahmud-b1367a1b0" target="_blank"><i class="fa fa-linkedin"></i></a></li>

				<li><a href="https://www.facebook.com/Bullet007.0" target="_blank"><i class="fa fa-facebook"></i></a></li>

				<li><a href="https://www.instagram.com/ek_villain.007" target="_blank"><i class="fa fa-instagram"></i></a></li>
				
			</ul>	
	</div>

	<div class="copy-right">
		<p>&copy tech villain</p>
	</div> 
</footer>

<script src="../static/js/main.js"></script>
	<!--===================== End  footer   =========================-->