
<section class="navigations">
    <nav>
        <a class="logo-link" href="https://www.youtube.com/channel/UCJCdq7lWqB7M5b16UatoTEw" target="_blank">
        <div class="nav_left">
            <div>
                <img src="../static/img/titleicon.png" alt="img" style="width: 30px; height:30px;">
            </div>
            <h3>tech villain</h3>
        </div>
    </a>
        
        <div class="nav_right rm_nav">
            <div ><a href="/" >Home</a></div>
            <div ><a href="/about">About</a></div>
            <div ><a href="/experience">Experience</a></div>
            <div><a href="/portfolio">Portfolio</a></div>
            <div><a href="/services">Services</a></div>
            <div><a href="/contact">Contact</a></div>
        </div>

        <div class="burger">
            <div class="lin1"></div>
            <div class="lin2"></div>
            <div class="lin3"></div>
        </div>
    </nav>
</section>