
<section class="navigations">
    <nav>
        <a class="logo-link" href="https://www.youtube.com/channel/UCJCdq7lWqB7M5b16UatoTEw" target="_blank">
        <div class="nav_left">
            <div>
                <img src="../static/img/titleicon.png" alt="img" style="width: 30px; height:30px;">
            </div>
            <h3>tech villain</h3>
        </div>
    </a>
        
        <div class="nav_right rm_nav">
            <div ><a href="/" class="{% if request.path == '/' %}active{% endif %}" >Home</a></div>
            <div ><a href="/about" class="{% if 'about' in request.path %}active{% endif %}">About</a></div>
        
            <div ><a href="/experience">Experience</a></div>
       
            <div><a href="/portfolio" class="{% if 'portfolio' in request.path %}active{% endif %}">Projects</a></div>
            <div><a href="/services" class="{% if 'services' in request.path %}active{% endif %}">Services</a></div>
            <div><a href="/contact" class="{% if 'contact' in request.path %}active{% endif %}">Contact</a></div>
            <div><a class="btn btn-outline-success btn-secondary" href="https://techvillain.herokuapp.com" target="_blank">blog</a></div>
        </div>

        <div class="burger">
            <div class="lin1"></div>
            <div class="lin2"></div>
            <div class="lin3"></div>
        </div>
    </nav>
</section>