<!-- 
'***********************   Jewel Mahmud   ***********************************'
'***********************  CSE-13th,MBSTU  ***********************************'
'*********************** Date: 20-07-2021 ***********************************'
'********* Title: Making complete portfolio with Django *********************'
-->

{% load static %}
<html lang="en">
	<head>
		{% include 'head.html' %}
	</head>
	<body>
		
		<div>
			{% include 'nav.html' %}
		</div>

	<div>
	{% include 'footer.html' %}
	</div>

</body>
</html>